
body {
    min-height:100px;
    padding-top: 70px;
    background-color: white;
}

.navbar-fixed-top {
    background: #3986A7;
    /*height: 80px;
    padding-left: 20px;*/
}


.nav.navbar-nav.navbar-right li a {
    color: beige;
}




.nav.navbar-nav li a {
    color: beige;
}


.navbar-header {
    float: left;
    padding: 5px;
    text-align: center;
    width: 100%;
    color: beige
    
}
.navbar-brand {float:none; color: beige}
